
.reservation-card {
  padding: 1rem;
  transition: box-shadow 0.25s;
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .resource-name {
    margin-left: 0.5rem;
  }

  .card-content {
    margin-top: 1rem;

    mat-icon {
      vertical-align: middle;
      margin-right: 0.3rem;
    }
  }
}


.no-reservations {
  text-align: center;
  padding: 2rem;
  color: #666;

  .empty-text {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

}
