<div class="chart-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Room Occupancy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="rooms$ | async as rooms">
        <div>
          <canvas
            baseChart
            [data]="roomChartData"
            [options]="chartOptions"
            [type]="'bar'"
          ></canvas>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="search-controls">
  <mat-form-field appearance="outline">
    <mat-label>Search by Room Number</mat-label>
    <input
      matInput
      [(ngModel)]="searchRoomNumber"
      (ngModelChange)="onSearchRoomNumberChange()"
      placeholder="Room number"
    />
    <mat-icon matSuffix>sort</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Search by Resident Name</mat-label>
    <input
      matInput
      [(ngModel)]="searchResidentName"
      (ngModelChange)="onSearchResidentNameChange()"
      placeholder="Resident name"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-slide-toggle
    [(ngModel)]="filterAvailableCapacity"
    (ngModelChange)="onSearchChange()"
  >
    Show Only Available Rooms
  </mat-slide-toggle>

  <button
    mat-fab
    extended
    color="none"
    *hasRole="'admin'"
    (click)="onRoomCreate()"
  >
    <mat-icon>add</mat-icon>
    Add room
  </button>
</div>

<div *ngIf="rooms$ | async; else loading">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let room of paginatedRooms">
      <mat-expansion-panel-header>
        Room {{ room.number }} ({{ room.numOfResidents }}/{{ room.capacity }})
        <span
          *ngIf="room.numOfResidents < room.capacity; else fullRoom"
          style="color: green; margin-left: 8px"
        >
          - Free
        </span>
        <ng-template #fullRoom>
          <span style="color: red; margin-left: 8px">- Full</span>
        </ng-template>
      </mat-expansion-panel-header>

      <mat-card-content>
        <p>
          <strong>Available spots:</strong>
          {{ room.capacity - room.numOfResidents }}
        </p>
        <p><strong>Residents:</strong></p>

        <mat-chip
          *ngFor="let resident of room.residents"
          color="primary"
          (click)="openResidentDetailDialog(resident, room)"
        >
          {{ resident.name }}
        </mat-chip>
      </mat-card-content>
      <br />

      <mat-card-actions>
        <button
          *hasRole="'admin'"
          mat-button
          color="primary"
          (click)="openAssignResidentDialog(room)"
          [disabled]="room.numOfResidents == room.capacity"
        >
          Assign Resident
        </button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator
    [length]="filteredRoomsList.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<ng-template #loading>
  <p>Loading rooms...</p>
</ng-template>
