.room-card {
  margin: 1rem 0;
}

.status-chip {
  margin-left: 1rem;
  font-size: 0.9rem;
  padding: 0 8px;
  border-radius: 12px;
  &.full {
    background-color: #f44336;
    color: white;
  }
  &.available {
    background-color: #4caf50;
    color: white;
  }

}

.chart-container {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  padding-bottom: 20px;
}

.search-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  mat-form-field {
    flex: 1 1 200px;
  }

  mat-slide-toggle {
    align-self: center;
  }
}

mat-paginator {
  padding-bottom: 20px;
}


