<h1 mat-dialog-title>Assign Resident to Room {{ data.room.number }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Select Resident</mat-label>

    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [(ngModel)]="searchTerm"
      placeholder="Search by name"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayResident"
      (optionSelected)="onResidentSelected($event)"
    >
      <mat-option
        *ngFor="let resident of filteredResidents()"
        [value]="resident"
      >
        {{ resident.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<mat-dialog-actions [align]="'end'">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button color="primary" (click)="assignResident()">Assign</button>
</mat-dialog-actions>
