<div class="dashboard-container">
  @if (shouldShowFeatureCards()) {
    <div class="feature-cards">
      <div
        class="responsive-grid"
        [ngStyle]="{ 'grid-template-columns': columnSelector() }"
      >
        @for (route of routes; track route) {
          <app-feature-card [route]="route"> </app-feature-card>
        }
      </div>
    </div>
  }

  <div class="reservations-section">
    @if (reservations.length === 0) {
      <div class="no-reservations">
        <mat-icon>event_busy</mat-icon>
        <p class="empty-text">You don't have any reservations yet.</p>
        <a routerLink="/resources" class="link">Make one here</a>
      </div>
    } @else {
      <h2>My reservations:</h2>
      <div class="reservations-container">
        @for (res of reservations; track res) {
          <app-reservation-card
            [reservation]="res"
            (delete)="onDelete($event)"
          ></app-reservation-card>
        }
      </div>
    }
  </div>
</div>
