<div class="container">
  <div class="button-close">
    <h1>Add details:</h1>
    <button mat-mini-fab matTooltip="Primary" color="none" matDialogClose>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form class="form" [formGroup]="submitForm">
    <div class="form-subsection">
      <mat-form-field [appearance]="'outline'">
        <mat-label>name</mat-label>
        <input
          matInput
          placeholder="enter your name"
          formControlName="nameForm"
          type="text"
        />
        <mat-icon matSuffix>person</mat-icon>
        @if (nameForm?.errors?.["required"]) {
          <mat-error> name required </mat-error>
        }
        @if (nameForm?.errors?.["minlength"]) {
          <mat-error> name must be at least 5 characters long </mat-error>
        }
      </mat-form-field>
      <mat-form-field [appearance]="'outline'">
        <mat-label>username</mat-label>
        <input
          matInput
          placeholder="enter your username"
          formControlName="usernameForm"
          type="text"
        />
        <mat-icon matSuffix>badge</mat-icon>
        @if (usernameForm?.errors?.["required"]) {
          <mat-error> username required </mat-error>
        }
        @if (usernameForm?.errors?.["minlength"]) {
          <mat-error> username must be at least 5 characters long </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-subsection">
      <mat-form-field [appearance]="'outline'">
        <mat-label>email</mat-label>
        <input
          matInput
          placeholder="enter phone number"
          formControlName="emailForm"
          type="text"
        />
        <mat-icon matSuffix>mail</mat-icon>
        @if (emailForm?.errors?.["required"]) {
          <mat-error> email required </mat-error>
        }
        @if (emailForm?.errors?.["email"]) {
          <mat-error> enter valid email address </mat-error>
        }
      </mat-form-field>
      <mat-form-field [appearance]="'outline'">
        <mat-label>phone</mat-label>
        <input
          matInput
          placeholder="enter phone number"
          formControlName="phoneForm"
          type="text"
        />
        <mat-icon matSuffix>phone</mat-icon>
        @if (phoneForm?.errors?.["required"]) {
          <mat-error> phone number required </mat-error>
        }
        @if (phoneForm?.errors?.["minlength"]) {
          <mat-error> phone number is too short </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
  <div class="button-container">
    <mat-dialog-actions class="button-container">
      <button mat-button (click)="dialogRef.close()">Cancel</button>
      <button mat-button color="primary" (click)="submit()">Save</button>
    </mat-dialog-actions>
  </div>
</div>
