<mat-toolbar class="custom-toolbar mat-elevation-z3">
  <div class="toolbar-left">
    <button
      class="hamburger-icon"
      mat-icon-button
      (click)="sidenavService.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a class="app-title" (click)="navigateToHome()">DormNet</a>
  </div>

  <div>
    <button mat-button (click)="toggleTheme()">
      <mat-icon>contrast</mat-icon> theme
    </button>

    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> logout
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="width()">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="width()">
    <div class="animation-wrapper" [@routeAnimation]="route.snapshot.data">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
