.container {
  padding: 24px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .button-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  mat-form-field {
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
}
