/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html.light-mode {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,

        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

//
//.light-mode .link {
//  color: #00458f;
//}
//
//.dark-mode .link {
//  color: #a974ff;
//}


.light-mode .link {
  color: #00458f;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}

.light-mode .link:hover {
  color: #1565c0;
  text-decoration: underline;
}

.dark-mode .link {
  color: #a974ff;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}

.dark-mode .link:hover {
  color: #fad7ff;
  text-decoration: underline;
}
